<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div id="about-me">
      <h1>About Me</h1>
      <p id="about-me-text">
        My name is Ryan Frazin, welcome to my portfolio website! I possess a
        fundamental understanding of object oriented programming, data
        structures, computer architecture, git incorporation, and the Unity game
        development engine. Additionally, I have experience in the programming
        languages C++, C#, Python, HTML, CSS, and JavaScript. I have an
        Associate’s Degree in Computer Science and a Certificate in Gaming and
        Applications Development. I am currently pursuing a Bachelor’s Degree at
        California State Polytechnic University, Pomona with an expected
        graduation date of June, 2027. Find out how to contact me through my
        contact page!
      </p>
    </div>
    <div id="resume">
      <h1>Resume</h1>
      <a id="pdf-link" href="/download/resume">Download</a>
    </div>
  </body>
</html>
