<%- include("partials/header.ejs") %>
<div id="contact-page">
  <h1 id="contact-title">Contact Me</h1>
  <div id="email">By E-mail: RyanFrazin@Gmail.com</div>
  <div id="social-icons">
    <a href="https://www.linkedin.com/in/ryanfrazin/" target="_blank"><img src="/images/linkedin.png" class="icon"></a>
  </div>
</div>
