    <h1>Projects</h1>
    <% let projectCount = 8; %>
    <div id="project-grid">
    <% for(let i = 0; i < projectCount; i++) {%>
        <div class="project">
            <div class="project-image"></div>
            <div class="form-buttons">
                <button>GitHub</button>
                <button>Site</button>
            </div>
        </div>
        <% } %> 
    </div>