<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
    <div class="homepage">
      <div class="homepage-img">
        <img src="/images/profile.jpg" alt="An image of myself, Ryan Frazin" id="profileImage">
      </div>
      <div id="homepage-text">
        <h1>Hi, I'm Ryan.</h1>
        <p>Welcome to my site. I'm an aspiring programmer and 
          current computer science student at California State
          Polytechnic University, Pomona. Click "about" to learn more about me!</p>
        <button>Contact</button>
      </div>
    </div>
    <div id="projects">
      <div class="grid">
      </div>
    </div>
</body>

</html>