<div id="homepage-links">
  <a href="/projects"><div class="homepage-options" id="homepage-projects">Projects</div></a>
  <a href="/about"><div class="homepage-options" id="homepage-about">About</div></a>
</div>
