<%- include("partials/header.ejs"); %>
<div id="project-page-container">
  <h1 id="projects">Projects</h1>
  <div id="project-grid">
    <div class="project">
      <h2 class="project-title">This Website</h2>
      <img class="project-image" src="/images/portfolio.jpg" />
      <div class="form-buttons">
        <a href="https://github.com/RyanFrazin/Portfolio" target="_blank"
          ><button>GitHub</button></a>
        <a href="/" target="_blank"><button>Webite</button></a>
      </div>
    </div>
    <div class="project">
        <h2 class="project-title">Bank ATM Subsystem</h2>
        <img class="project-image" src="/images/programming.png" />
        <div class="form-buttons">
        <a href="https://github.com/CS3560-3-3/Bank-ATM-Subsystem" target="_blank"
          ><button>GitHub</button></a"
    </div>
    <div class="project">
      <h2 class="project-title">Blog Project</h2>
      <img class="project-image" src="/images/programming.png" />
      <div class="form-buttons">
        <a href="https://github.com/RyanFrazin/Portfolio" target="_blank"
          ><button>GitHub</button></a
        >
      </div>
    </div>
    <div class="project">
      <h2 class="project-title">Simon Game</h2>
      <img class="project-image" src="/images/simon.jpg" />
      <div class="form-buttons">
        <a href="https://github.com/RyanFrazin/SimonGame" target="_blank"
          ><button>GitHub</button></a
        >
        <a href="https://ryanfrazin.github.io/SimonGame/" target="_blank"
          ><button>Webite</button></a
        >
      </div>
    </div>
    <div class="project">
      <h2 class="project-title">Calculator</h2>
      <img class="project-image" src="/images/calculator.jpg" />
      <div class="form-buttons">
        <a href="https://github.com/RyanFrazin/calculator" target="_blank"
          ><button>GitHub</button></a
        >
        <a href="https://ryanfrazin.github.io/calculator/" target="_blank"
          ><button>Webite</button></a
        >
      </div>
    </div>
    <div class="project">
      <h2 class="project-title">Tic-Tac-Toe</h2>
      <img class="project-image" src="/images/tictactoe.jpg" />
      <div class="form-buttons">
        <a href="https://github.com/RyanFrazin/tictactoe" target="_blank"
          ><button>GitHub</button></a
        >
        <a href="https://ryanfrazin.github.io/tictactoe/" target="_blank"
          ><button>Webite</button></a
        >
      </div>
    </div>
    <div class="project">
      <h2 class="project-title">Sudoku Solver</h2>
      <img class="project-image" src="/images/programming.png" />
      <div class="form-buttons">
        <a href="https://github.com/RyanFrazin/Sodoku-Solver" target="_blank"
          ><button>GitHub</button></a
        >
      </div>
    </div>
    <div class="project">
      <h2 class="project-title">File Rename</h2>
      <img class="project-image" src="/images/programming.png" />
      <div class="form-buttons">
        <a
          href="https://github.com/RyanFrazin/File-Renaming-Program"
          target="_blank"
          ><button>GitHub</button></a
        >
      </div>
    </div>
  </div>
  <div id="social-icons">
    <p id="social-p">For more of my repositories: </p>
    <a href="https://github.com/ryanfrazin" target="_blank"><img src="/images/github.png" class="icon"></a>
  </div>
</div>
