:root {
    --primary-color: rgb(76, 166, 246);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header,
footer {
    flex: 0 0 auto;
}

main {
    text-align: center;
    padding: 5vmin;
    flex: 1 0 auto;
}

h1 {
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    background-color: var(--primary-color);
    align-items: center;
    opacity: 0.5;
}

.button {
    margin: 8px;
    opacity: 1;
    color: black;
}

.button:hover {
    color: white;
    cursor: pointer;
}

#profileImage {
    width: 300px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 50px;
    animation: moveUp 1s ease-out forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.homepage {
    display: flex;
}

#homepage-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    animation: moveUp 1s ease-out forwards 0.5s;
    opacity: 0;
}
#homepage-text.show {
    opacity: 1;
}