:root {
  --primary-color: #4ca6f6;
  --move-up: moveUp 2s ease-out forwards 0.5s;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%234ca6f6' fill-opacity='0.3'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  background-color: var(--primary-color);
  align-items: center;
  opacity: 0.5;
}

button {
  width: auto;
  margin: 10px;
  opacity: 1;
  color: black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
}
button:hover {
  color: white;
  background-color: gray;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-button {
  margin: 5px;
}
.header-button:hover {
  cursor: pointer;
}

#profileImage {
  width: 300px;
  border-radius: 50%;
  margin-left: 100px;
  margin-top: 50px;
  animation: moveUp 1s ease-out forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#homepage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  width: 700px;
  animation: moveUp 1s ease-out forwards 0.5s;
  opacity: 0;
}
#homepage-text.show {
  opacity: 1;
}

#project-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project {
  width: 100%;
}

.project-image {
  width: 100px;
  height: 100px;
  background-color: black;
}

#homepage-links {
    width: 500px;
    height: auto;
}

#homepage-intro {
    display: flex;
    flex-direction: row;
}

.homepage-options {
    position: relative;
    background-color: transparent;
    animation: var(--move-up);
    opacity: 0;
    border: 1px solid black;
    font-size: 80px;
    padding: 20px;
    margin-top: 100px;
}
.homepage-options.show {
    opacity: 1;
}
.homepage-options:hover {
    cursor: pointer;
    font-size: 82px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    transition: 0.3s;
}

#homepage-projects {
    left: -100px;
}

#homepage-about {
    right: -100px;
    text-align: right;
    margin-top: 10px;
}

#contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  opacity: 0;
  animation: var(--move-up);
}

.icon {
  width: 30px;
  margin: 10px;
}
.icon:hover {
  cursor: pointer;
}